<a href="https://colab.research.google.com/github/EduardoRufinoYepez/cyp_2021/blob/main/Tarea_3_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Problema1.1

PREPO = 0
PAGO = 0
DEVO = 0

PREPO = float (input("dame el primer dato: "))
PAGO = float (input("dame el segundo dato: " ))

DEVO = PAGO-PREPO
print (DEVO)

In [ ]:
# problema1.2

BASE = 0
ALTURA = 0
SUP = 0

BASE = float(input("la base es:"))
ALTURA = float(input("la altura: "))

SUP = (BASE*ALTURA)/2

print (SUP)

In [ ]:
# ejercicio1.3
NOM = 0
PES = 0
LON = 0
PERSKIL = 0
LONMET = 0

NOM = (input("Como se llama el dinosaurio? "))
PES = float(input("Cuanto pesa el dinosaurio en toneladas? "))
LON = float(input("Cuanto mide el dinosaurio en pies? "))
PERSKIL = (PES*1000)
LONMET = (LON*0.3047)

print(f"Se llama {NOM}, pesa {PERSKIL} en kilogramos y si alutura es de {LONMET} mestros" )

In [ ]:
# ejercicio1.4

GAL = 0
TOTAL = 0

GAL = float(input("Cuantos galones? "))
TOTAL = GAL*3.785*8.20

print (TOTAL)

In [ ]:
# ejercicio1.5

RADIO = 0
ALTU = 0
VOL = 0
ARE = 0

RADIO = float(input("Dame el radio: "))
ALTU = float(input("Dame la altura: "))
VOL = 3.141592*(RADIO**2)*ALTU
ARE = 2*3.141592*RADIO*ALTU

print(f"El volumen es: {VOL}")
print(f"El Area es: {ARE}")

In [ ]:
#ejercicio1.6
DIAS = 0
SEGUNDOS = 0

DIAS = int(input("Cuantos dias? "))
SEGUNDOS = DIAS*24*60*60

print(f"En {DIAS} dias hay {SEGUNDOS} segundos")